### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Count total number of rows for data frame. SN represent username
sn = len(purchase_data["SN"].unique()) 

# Data frame contains repeated values that are tallied up. count() will display number of unique names 
sn_df = {'Total Players': [sn]}
sn_pd = pd.DataFrame(sn_df, columns=["Total Players"])
sn_pd

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Assign variables to the specific calculations
no_purchases = len(purchase_data["Purchase ID"]) 
unique_items = len(purchase_data["Item ID"].unique()) 
ave_price = round(purchase_data["Price"].mean(),2)
total_revenue = round(purchase_data["Price"].sum(),2)

#Create dataframe with variables and assign column names
summary_df = {'Number of Unique Items': [unique_items],'Average Price': '${:.2f}'.format(ave_price),'Number of Purchases': [no_purchases],'Total Revenue': '${:.2f}'.format(total_revenue)}
summary_pd = pd.DataFrame(summary_df, columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
summary_pd

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Create new dataframe for data grouped by Gender and SN 
demo_df = purchase_data.loc[:, ["SN", "Gender"]]

# use drop_duplicates with column SN to get unique usernames
clean_sn = demo_df.drop_duplicates(subset='SN', keep="last")

# calculate number of players by gender
no_males = len(clean_sn.loc[clean_sn["Gender"] =="Male",:])
no_females = len(clean_sn.loc[clean_sn["Gender"] =="Female",:])
no_other = len(clean_sn.loc[clean_sn["Gender"] =="Other / Non-Disclosed",:])
total_gender = no_males + no_females + no_other

# create two dataframes for counts and percentages. Also, add column with genders. 
count_df = pd.DataFrame([no_males, no_females, no_other],  columns =  ["Total Count"])
count_df_merged = count_df.assign(Gender = ['Male', 'Female', 'Other / Non-Disclosed'])

percentage_df = pd.DataFrame([(no_males/total_gender)*100, (no_females/total_gender)*100, (no_other/total_gender)*100],  columns =["Percentage of Players(%)"])
percentage_df = percentage_df.round(2)
percentage_df_merged = percentage_df.assign(Gender = ['Male', 'Female', 'Other / Non-Disclosed'])

# merge count and percentage dataframes
merge_table = pd.merge(count_df_merged, percentage_df_merged, on="Gender")
merge_table

# re-organize merge table to match desired output
organized_table = merge_table[["Gender","Total Count","Percentage of Players(%)"]]
organized_table

                  Gender  Total Count  Percentage of Players(%)
0                   Male          484                     84.03
1                 Female           81                     14.06
2  Other / Non-Disclosed           11                      1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Create dataframe with Gender and Price
summary_df = purchase_data[['SN','Gender','Price']]
summary_unique = summary_df.drop_duplicates(subset='SN', keep="last")

#calculate variables for table
tot_items_gender = summary_df.groupby(["Gender"])["Price"].count()
ave_price_gender= summary_df.groupby(["Gender"])["Price"].mean()
tot_price_gender = summary_df.groupby(["Gender"])["Price"].sum()
unique_items_gender = summary_unique.groupby(["Gender"])["Price"].count()
ave_purchase_gender =(tot_price_gender/unique_items_gender)

#summarize and sort
summary_gender = pd.DataFrame({"Purchase Count":tot_items_gender, "Item Price($)":round(ave_price_gender,2), "Total Purchase Value($)":round(tot_price_gender,2),"Avg Total Purchase per Person($)":round(ave_purchase_gender,2)})
summary_sorted = summary_gender.sort_values("Purchase Count", ascending= False)
summary_sorted

,Purchase Count,Item Price($),Total Purchase Value($),Avg Total Purchase per Person($)
Gender,,,,
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
#create bins for ages and labels
bin_age = [0, 9, 14, 19, 24, 29, 34, 39, 150]
label_age = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
#Create dataframe with Username and price 
spenders_df = purchase_data[['SN', 'Price']]

#calculate variables for table
count_purchases = spenders_df.groupby(["SN"])["Price"].count()
ave_purchase_price= spenders_df.groupby(["SN"])["Price"].mean()
tot_purchase = spenders_df.groupby(["SN"])["Price"].sum()

#obtain new df and sort. Print the top 5 results
summary_spenders = pd.DataFrame({"Purchase Count":count_purchases, "Average Purchase Price($)":round(ave_purchase_price,2), "Total Purchase Value($)":tot_purchase})
spenders_sorted = summary_spenders.sort_values("Purchase Count", ascending= False)
spenders_sorted.head(5)

,Purchase Count,Average Purchase Price($),Total Purchase Value($)
SN,,,
Lisosia93,5,3.79,18.96
Iral74,4,3.40,13.62
Idastidru52,4,3.86,15.45
Asur53,3,2.48,7.44
Inguron55,3,3.70,11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
#Create dataframe with Item ID, Item Name and Price
items_df = purchase_data[['Item ID', 'Item Name', 'Price']]

#calculate variables for table
count_items = items_df.groupby(["Item ID","Item Name"])["Price"].count()
ave_price_items= items_df.groupby(["Item ID","Item Name"])["Price"].mean()
tot_price_items = items_df.groupby(["Item ID","Item Name"])["Price"].sum()

#obtain new df and sort. Print the top 5 results
summary_popular = pd.DataFrame({"Purchase Count":count_items, "Item Price($)":ave_price_items, "Total Purchase Value($)":tot_price_items})
popular_sorted = summary_popular.sort_values("Purchase Count", ascending= False)
popular_sorted.head(5)

,,Purchase Count,Item Price($),Total Purchase Value($)
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [8]:
#re-use previous dataframe and change sorting criteria. Print the top 5 results
profitable_sorted = summary_popular.sort_values("Total Purchase Value($)", ascending= False)
profitable_sorted.head(5)

,,Purchase Count,Item Price($),Total Purchase Value($)
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

# Observations

1) The overwhelming majority of the player base are roughly 25 year old males

2) Top spenders typically purchase 3 items and spend an average $12.01. 

3) 64 percent of the total renenue involve players with age group 15 - 25 years old